body {
  padding-top: 30px;

  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.header {
  margin: 0;
  margin-bottom: 20px;

  font-size: 42px;
  line-height: 1.3;
}

.country-input {
  margin: 0;
  padding: 5px;

  font-family: inherit;
  font-size: 20px;
  line-height: 1.43;

  border: 3px solid darkblue;

  transition: border 500ms ease-in;
}

.country-input:hover,
.country-input:focus {
  border: 3px solid darkorange;
}

.pnotify {
  position: absolute;
  top: 0;
  right: 0;
}

.countries-list {
  padding-left: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries-list__item {
  display: flex;
  align-items: center;

  margin-bottom: 5px;

  color: darkblue;
}

.country-name {
  margin-right: 5px;
}
